# Copyright 2024 Nokia
# Licensed under the Apache License 2.0
# SPDX-License-Identifier: Apache-2.0
version: 2
updates:
  -   package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
  -   package-ecosystem: "gomod"
      directory: "/"
      schedule:
          interval: "weekly"